//
// share
//

.share
  .page &
    margin-top: em(48)

    +min-width(330px)
      width: 330px
      margin-left: auto
      margin-right: auto

    +min-width($tablet)
      position: fixed
      right: 15px
      bottom: 15px
      margin: 0


//
// close
//

.share__close
  .share &
    position: absolute
    top: 15px
    right: 15px


//
// info
//

.share__info
  padding: 15px


//
// body
//

.share__body
  .share &
    margin-top: 8px


//
// drawer
//

.share__drawer
  padding: 15px


//
// button
//

.share
  .share__button
    display: inline-block
    margin-left: 8px

    &:first-child
      margin-left: 0
