{% capture content %}
  {% include 'includes/hero' %}

  <main class='page__main'>
    <article class='post'>
      <header class='grid-container--wide post__header'>
        <h4 class='post__pretitle'>
          <a href='{{ parent.url }}'>{{ parent.title }}</a>
        </h4>
        <h3 class='post__title'>
          <a href='{{ url }}'>{{ title }}</a>
        </h3>
      </header>

      {% if meta.image %}
      <div class='post__image'>
        <a href='{{ url }}'><img src='{{.meta.image }}'></a>
      </div>
      {% endif %}

      <div class='grid-container--narrow post__body'>
        {{ body }}

        {% if parent %}
        <h4>Email Us</h4>
        <p>Still have questions about {{ title }}? Email us at <a href='mailto:support@cushionapp.com'>support@cushionapp.com</a>.</p>
        {% endif %}
      </div>
    </article>
  </main>
{% endcapture %}

{% include 'layouts/default' %}