//
// colors
//

$blue--light: #cff2ff


//
// grid
//

$column: 50px
$gutter: 30px
$grid-columns: 12
$max-width: 940px

$narrow-container-width: 684px
$wide-container-width: 940px


//
// legacy
//

// variables

$serif-font: "FF Tisa Web Pro", Georgia, serif
$system-font: "Helvetica Neue", Helvetica, sans-serif
$base-font-family: "Facit", $system-font
$base-font: 400 100%/1.65 $base-font-family
$header-font: 700 150%/1.25 "Effra", $system-font
$copy-font: 400 100%/1.65 $serif-font
$button-font: 400 .875rem/1.65 $base-font-family
$code-font: 400 87.5%/1.65 $base-font-family
$blockquote-font: 400 100%/1.65 $serif-font

$orange: #FEAA3A

$almost-white: rgba(0, 0, 0, 0.035)
$lightest-grey: #f2f2f2
$lighter-grey: #e6e6e6
$light-grey: #ccc
$grey: #999
$dark-grey: #666
$darkest-grey: #222
$black: $darkest-grey
$white: #fff
$transparent-white: rgba(255, 255, 255, 0.8)
$transparent-black: rgba(0, 0, 0, 0.8)
$transparent-grey: rgba(225, 225, 225, 0.8)

$green: #6BBD2E
$light-green: #e1f3cb
$green--light: #e1f3cb
$blue: #3498DB
$blue--light: #cff2ff
$pink: #ffc0cc
$red: #c00
$red--light: #ffc0cc
$yellow: #FEAA3A
$purple: #84487E
$light-purple: lighten($purple, 8%)
$dark-purple: darken($purple, 10%)
$purple--light: lighten($purple, 47%)

$smaller: 12
$small: 14
$medium: 16
$large: 18
$larger: 20
$largest: 24

$tablet-portrait: em(481)
$mini-tablet: em(481)
$tablet: em(768)
$laptop: em(960)
