{% capture content %}
  <section class='theme--{{ meta.theme }} hero'>
    {% include 'includes/header' %}

    <div class='hero__header grid-container--wide'>
      {% assign section = pages.hero %}

      <div class='hero__title'>
        {{ section.body }}
      </div>

      <div class='hero__buttons'>
        <a id='learn-more' class='hero__button button' href='#more'>Learn more</a><a class='signup-button hero__button button' href='{{ site.meta.signup }}'>Sign up free</a>
      </div>

      <div class='hero__alert alert'>
        {{ section.meta.alert | markdown }}
      </div>
    </div>

    <div class='grid-container--wider'>
      <div class='hero__screenshot' style='background-image: url({{ section.meta.image }}); padding-bottom: {{ section.meta.image-ratio }}'></div>
    </div>
  </section>

  <section id='more' class='grid-container--wide homepage__text-section homepage__section'>
    {{ pages.intro.body }}
  </section>

  {% assign features = pages.features.pages | where:"meta.type","primary" %}
  {% include 'includes/features' %}

  <section class='homepage__feature-section--secondary homepage__feature-section homepage__section'>
    <div class='grid-container--wide'>
    {% assign features = pages.features.pages | where:"meta.type","secondary" %}
    {% for feature in features %}
      <div class='feature--secondary feature'>
        <div class='feature__copy'>
          <h3 class='icon--{{ feature.meta.color }} ss-{{ feature.meta.icon }} icon-title feature__title'>{{ feature.title }}</h3>
          {{ feature.body }}
        </div>
      </div>
    {% endfor %}
    </div>
  </section>

  <section class='theme--green homepage__next-section homepage__text-section homepage__section'>
    <p>
      <a class='link' href='{{ site.meta.signup }}'>Try Cushion for <strong>free</strong> <a class='button' href='{{ site.meta.signup }}'>Sign up</a></span></a>
    </p>
  </section>

  {% include 'includes/testimonials' %}
  {% include 'includes/process' %}

  <section class='homepage__section'>
    {% assign section = site.pages.home.pages.outro %}
    <div class='grid-container--wide homepage__outro'>
      <div class='homepage__message'>{{ section.body }}</div>

      <a class='button--green outro__button button' href='{{ site.meta.signup }}'>Sign up</a>
    </div>
  </section>
{% endcapture %}

{% capture foot %}
  <script>
    $(function() {
      $('#learn-more').click(function(e) {
        e.preventDefault();

        $('html,body').animate({
          scrollTop: $('#more').offset().top
        }, 1000);
      });
    });
  </script>
{% endcapture %}

{% include 'layouts/default' %}
