{% capture content %}
  <section class='theme--{{ meta.theme }} hero'>
    {% include 'includes/header' %}

    <div class='hero__header grid-container--wide'>
      {% assign section = pages.hero %}

      <div class='hero__title'>
        {{ section.body }}
      </div>

      <div class='hero__buttons'>
        {% include 'includes/get-started' %}
      </div>
    </div>

    <div class='grid-container--wider'>
      <div class='hero__screenshot' style='background-image: url({{ section.meta.image }}); padding-bottom: {{ section.meta.image-ratio }}'></div>
    </div>
  </section>

  <section class='grid-container--wide homepage__text-section homepage__section'>
    {{ pages.intro.body }}
  </section>

  {% assign features = pages.features.pages | where:"meta.type","primary" %}
  {% include 'includes/features' %}

  <section class='homepage__feature-section--secondary homepage__feature-section homepage__section'>
    <div class='grid-container--wide'>
    {% assign features = pages.features.pages | where:"meta.type","secondary" %}
    {% for feature in features %}
      <div class='feature--secondary feature'>
        <div class='feature__copy'>
          <h3 class='icon--{{ feature.meta.color }} ss-{{ feature.meta.icon }} icon-title feature__title'>{{ feature.title }}</h3>
          {{ feature.body }}
        </div>
      </div>
    {% endfor %}
    </div>
  </section>

  <section class='theme--green homepage__next-section homepage__text-section homepage__section'>
    <p>
      <a class='link' href='{{ site.meta.signup }}'>Try Cushion for <strong>free</strong> <a class='button' href='{{ site.meta.signup }}'>Sign up</a></span></a>
    </p>
  </section>

  {% include 'includes/testimonials' %}
  {% include 'includes/process' %}
  {% include 'includes/outro' %}
{% endcapture %}

{% include 'layouts/default' %}
