//
// button
//

.mobile-nav__menu-button
  float: right
  padding: em(5) em(12)

  +min-width($mini-tablet)
    display: none


//
// close button
//

.mobile-nav
  .mobile-nav__close-button
    position: absolute
    top: em(16)
    right: em(10)


//
// nav
//

.page
  position: relative

  .mobile-nav
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%

    padding: em(8) em(10)


//
// item
//

.mobile-nav__list
  .mobile-nav__item
    margin-top: em(8)

    &:first-child
      margin-top: 0


//
// button
//

.mobile-nav__list
  .mobile-nav__button
    display: inline-block
    margin: em(4) 0
