//
// header
//

.page__header
  +clearfix


.page
  .page__header
    padding-top: em(20)
    margin-bottom: em(30)


//
// logo
//

.page__logo
  margin: 0


.page__header
  .page__logo
    float: left


//
// main
//

.page__main
  min-height: 480px

  padding-top: em(40)
  padding-bottom: em(40)

  +min-width($tablet-portrait)
    padding-top: em(80, $medium)
    padding-bottom: em(80, $medium)


//
// section
//

.page__section
  +clearfix


.page
  .page__section
    margin-bottom: 60px


//
// section title
//

.page__title
  margin: 0


.page
  .page__title
    margin-bottom: 10px


//
// footer
//

.page__footer
  padding: em(16)

  +min-width($mini-tablet)
    padding: em(32)
