//
// nav
//

.mobile-nav
  background-color: $black
  color: $white

  transition: 0.5s opacity

  &.is-hidden
    opacity: 0
    pointer-events: none

  +min-width($mini-tablet)
    display: none

//
// menu button
//

.mobile-nav__menu-button
  font-family: $base-font-family

  border-radius: em(4)
  outline: none

  .theme--blue &
    color: $blue
    background-color: $blue--light

  .theme--light-blue &
    color: $white
    background-color: $light-blue--dark

  .theme--yellow &
    color: $white
    background-color: $yellow--dark

  .theme--green &
    color: $green
    background-color: $green--light

  .theme--purple &
    color: $purple
    background-color: $purple--light

  .theme--black &
    color: $black
    background-color: $light-grey

  .theme--xero &
    color: $white
    background-color: $xero-blue


//
// close button
//

.mobile-nav__close-button
  font-size: em(21)
  color: $purple


//
// button
//

.mobile-nav__button
  @extend .button--green
  text-align: center


//
// logo
//

.mobile-nav__logo
  padding: em(8, 32) em(12, 32)
  color: $white


//
// link
//

.mobile-nav__link
  padding: em(8) em(12)
  color: $white

  .theme--blue &
    background-color: $blue
    color: $blue--light

  .theme--light-blue &
    background-color: $light-blue
    color: $light-blue--dark

  .theme--yellow &
    background-color: $yellow
    color: $yellow--dark

  .theme--green &
    background-color: $green
    color: $green--light

  .theme--purple &
    background-color: $purple
    color: $purple--light

  .theme--black &
    background-color: $black
    color: $light-grey


//
// icon
//

.mobile-nav__icon
  color: $blue
