//
// nav
//

.page-nav
  font-size: 14px
  line-height: 30px


//
// link
//

.page-nav__link
  @extend .link--hover-border


//
// icon
//

.page-nav__icon
  font-size: 16px
  color: #4099FF

  &:hover
    color: $black
