//
// nav
//

.page-nav
  font-size: 14px
  line-height: 30px


//
// link
//

.page-nav__link
  @extend .link--hover-border
  color: inherit

  .theme--green &,
  .theme--blue &,
  .theme--purple &,
  .theme--black &
    &:hover
      border: none
      color: $white

  .theme--light-blue &:hover
    border-color: $light-blue--dark

  .theme--yellow &:hover
    border-color: $yellow--dark


//
// button
//

.page-nav__button
  border-radius: em(5)


//
// icon
//

.page-nav__icon
  font-size: 16px
  color: #4099FF

  .theme--blue &
    color: $blue--light

  .theme--green &
    color: $green--light

  .theme--blue &,
  .theme--green &,
  .theme--black &
    &:hover
      color: $white

  &:hover
    color: $black
