//
// header
//

.page__header
  +min-width($tablet)
    font-size: 200%


//
// logo
//

.page__logo
  font-weight: 700
  font-size: 24px
  line-height: 36px

  +min-width($mini-tablet)
    line-height: 30px


.logo__link
  font-family: $header-font-family
  color: inherit

  .theme--black &,
  .theme--purple &,
  .theme--green &,
  .theme--blue &
    &:hover
      color: $white


//
// banner
//

.page__banner
  line-height: 1em
  text-align: center

  strong
    font-weight: 600
    color: $yellow

  .icon
    font-size: em(12)
    line-height: 1em
    color: $yellow

  &.theme--blue
    background-color: $blue
    color: $white

    a
      color: inherit


//
// section title
//

.page__title
  font-family: $header-font-family
  font-size: em(18)


//
// footer
//

.page__footer
  background-color: $darkest-grey
  color: $white
  text-align: center


//
// section
//

.page__section
  &.theme--blue
    background-color: $blue
    color: $blue--dark


//
// love
//

.page__love
  font-size: 14px
