//
// header
//

.page__header
  +min-width($tablet)
    font-size: 200%


//
// logo
//

.page__logo
  font-weight: 700
  font-size: 18px
  line-height: 28px

  +min-width($tablet)
    font-size: 24px
    line-height: 24px


.logo__link
  color: inherit


//
// section title
//

.page__title
  font-size: em(20)
  font-weight: 700
