{% if post == current %}
  {% assign share_title = "Share this post on Twitter" %}
  {% capture share_message %}“{{ post.title }}” by <a href='https://twitter.com/cushionapp' target='_blank'>@cushionapp</a>{% endcapture %}
{% endif %}
<article {% if post == current %}id='post' {% endif %}class='post'>
  <header class='grid-container--wide post__header'>
    <h3 class='post__title'>
      <a href='{{ post.url }}'>{{ post.title }}</a>
    </h3>
    <time class='post__date' datetime='{{ post.date }}'>
      <a class='link--grey' href='{{ post.url }}'>{{ post.date | date:'%b %d, %Y' }}</a>
    </time>
  </header>

  {% if post.meta.hero-image %}
  <div class='post__image'>
    <a href='{{ post.url }}'><img src='{{ post.meta.hero-image }}'></a>
  </div>
  {% endif %}

  <div class='grid-container--narrow'>
    <div class='post__meta'>
      <div class='post__author'>
        {% assign contributor = site.pages.team.pages | where:"title",author.name | first %}
        <a class='author__avatar' style='background-image: url({{ contributor.assets.first.url }})' href='https://twitter.com/{{ contributor.meta.twitter }}'></a>
        <div class='author__info'>
          <h4 class='author__name'>
            <a href='https://twitter.com/{{ contributor.meta.twitter }}' target='_blank'>{{ contributor.title }}</a>
          </h4>
          <h5 class='author__handle'>
            <a class='link--blue' href='https://twitter.com/{{ contributor.meta.twitter }}' target='_blank'>@{{ contributor.meta.twitter }}</a>
          </h5>
        </div>
      </div>

      {% assign category = post.taxonomy.categories.first %}
      <a class='tag--{{ category }} post__tag tag' href='{{ category.url }}'>{{ category | capitalize }}</a>
    </div>

    <div class='post__body'>
      {% if post == current %}
        {{ post.body }}

        <nav class='post__nav'>
          {% if post.next %}<a class='ss-navigateleft post-nav__link' href='{{ post.next.url }}'>Newer</a>{% endif %}
          <a class='ss-box post-nav__link' href='{{ post.parent.url }}'>Archive</a>
          {% if post.previous %}<a class='ss-navigateright right post-nav__link' href='{{ post.previous.url }}'>Older</a>{% endif %}
        </nav>
      {% else %}
        {{ post.excerpt }}
        {% if post.body != post.excerpt %}
          <p>
            <a class='post__more' href='{{ post.url }}'>More&hellip;</a>
          </p>
        {% endif %}
      {% endif %}
    </div>
  </div>
</article>

{% if post == current %}
{% include 'includes/share' %}
{% endif %}

