<article id='{{ post.title }}' class='changelog-post'>
  <h3 class='changelog-post__date'>
    <a href='{{ post.url }}'>{{ post.title | date: "%b %d, %Y" }}</a>
  </h3>
  <div class='changelog-post__body'>
    {% if post.meta.new %}
    <div class='changelog-post__list'>
      <h4 class='changelog-post__subtitle--new changelog-post__subtitle'>New</h4>
      {{ post.meta.new | md }}
    </div>
    {% endif %}

    {% if post.meta.improved %}
    <div class='changelog-post__list'>
      <h4 class='changelog-post__subtitle--improved changelog-post__subtitle'>Improved</h4>
      {{ post.meta.improved | md }}
    </div>
    {% endif %}

    {% if post.meta.fixed %}
    <div class='changelog-post__list'>
      <h4 class='changelog-post__subtitle--fixed changelog-post__subtitle'>Fixed</h4>
      {{ post.meta.fixed | md }}
    </div>
    {% endif %}
  </div>
</article>
