<script src='/assets/scripts/libs/husl.min.js'></script>
<script>
  window.addEventListener('load', function(e) {
    var articleLinks = document.querySelectorAll('.article-copy a');
    var footerLinks = document.querySelectorAll('.link');
    var buttons = document.querySelectorAll('.button');

    var direction = 1;
    var minHue = 100;
    var maxHue = 250;
    var hue = minHue + Math.random() * (maxHue - minHue);
    var hex;

    var styleElements = function(elements, cssText) {
      [].forEach.call(elements, function(element) {
        element.style.cssText = cssText;
      });
    };

    setInterval(function () {
      hue += 0.5 * direction;
      hex = window.HUSL.toHex(hue, 70, 60);

      if (hue < minHue || hue > maxHue) direction *= -1;

      styleElements(articleLinks, 'border-bottom-color: ' + hex);
      styleElements(footerLinks, 'color: ' + hex);
      styleElements(buttons, 'background-color: ' + hex);
    }, 1000/5);
  },false);
</script>
