<h3 class='page__title'>{{ table_title }}</h3>
<div class='table'>
  <div class='table__head'>
    <div class='table__row'>
      <h4 class='table__head-cell table__cell'>Color</h4>
      <h4 class='table__head-cell table__cell'>Name</h4>
      <h4 class='table__head-cell table__cell--service table__cell'>Service</h4>
      <h4 class='table__head-cell table__cell'>Purpose</h4>
      <h4 class='table__head-cell table__cell--cost table__cell'>Cost</h4>
      <h4 class='table__head-cell table__cell--cost table__cell'>Total Cost</h4>
    </div>
  </div>
  <div class='table__body'>
    {% for post in table_posts %}
    <div class='table__body-row table__row'>
      <div class='table__body-cell--color table__body-cell table__cell'>
        <div class='color' style='background-color: {{ post.meta.service-color }}'></div>
      </div>
      <div class='table__body-cell--name table__body-cell table__cell'>{{ post.title }}</div>
      <div class='table__body-cell--service table__body-cell table__cell--service table__cell'>
        <a href='{{ post.meta.service-url }}'>{{ post.meta.service }}</a>
      </div>
      <div class='table__body-cell--purpose table__body-cell table__cell'>{{ post.body_raw }}</div>
      <div class='table__body-cell--cost table__body-cell table__cell--cost table__cell'>{{ post.meta.cost }}</div>
      <div class='table__body-cell--cost-total table__body-cell table__cell--cost table__cell'>{{ post.meta.cost-total }}</div>
    </div>
    {% endfor %}
  </div>
  <div class='table__foot'>
    <div class='table__foot-row table__row'>
      <div class='table__foot-cell table__cell'></div>
      <div class='table__foot-cell table__cell'></div>
      <div class='table__foot-cell table__cell--service table__cell'></div>
      <div class='table__foot-cell table__cell'></div>
      <div class='table__foot-cell--cost table__foot-cell table__cell--cost table__cell'>{{ meta.cost }}</div>
      <div class='table__foot-cell--cost-total table__foot-cell table__cell--cost table__cell'>{{ meta.cost-total }}</div>
    </div>
  </div>
</div>
