{% capture content %}
<section class='theme--{{ meta.theme }} hero'>
  {% include 'includes/header' %}

  <div class='hero__header grid-container--wide'>
    <div class='hero__title'>
      <h2>{{ meta.title }}</h2>
      {{ body }}
    </div>
  </div>

  <div class='grid-container--wider'>
    <div class='hero__screenshot' style='background-image: url({{ meta.hero-image }}); padding-bottom: {{ meta.hero-ratio }}'></div>
  </div>
</section>

<main id='post' class='grid-container--wide page__main'>
  <section class='graph-section'>
    <div class='expenses-graph' id='monthly-expenses'></div>
  </section>

  {% assign table_title = "Expenses" %}
  {% assign table_posts = posts | sort:'published_at' %}
  {% include 'includes/expenses-table' %}
</main>

{% include 'includes/newsletter' %}
{% endcapture %}

{% capture foot %}
  <script>
    window.graphData = {
      colors: JSON.parse('{% raw %}{{% endraw %}{% for post in posts %}"{{ post.title }}":"{{ post.meta.service-color }}"{% unless forloop.last %},{% endunless %}{% endfor %}{% raw %}}{% endraw %}'),
      markers: JSON.parse('{{ meta.markers }}'),
      months: JSON.parse('{{ meta.months }}'),
      monthly_cost: JSON.parse('{{ meta.montly-cost-data }}').reverse(),
      total_cost: JSON.parse('{{ meta.total-cost-data }}')
    }
  </script>

  <script src='/assets/scripts/libs/jquery.min.js'></script>
  <script src='/assets/scripts/libs/highcharts.min.js'></script>
  <script src='/assets/scripts/expenses.js'></script>
{% endcapture %}

{% include 'layouts/default' %}
