{% capture content %}
<main class='main-content'>
  <table>
    <colgroup>
      <col>
      <col>
      <col>
    </colgroup>
    <thead>
      <tr>
        <th>Name</th>
        <th>Service</th>
        <th class='number-cell'>Cost</th>
      </tr>
    </thead>
    <tfoot>
      <tr>
        {% assign total = 0 %}
        {% for post in posts %}
          {% assign cost = post.meta.cost | plus: 0 %}

          {% if post.meta.cost-frequency == 'month' %}
            {% assign cost = cost | times: 12 %}
          {% endif %}
          {% assign total = total | plus: cost %}
        {% endfor %}
        {% assign spaces = total | split:'.' | last | size %}
        {% if spaces == 1 %}
          {% assign total = total | append:'0' %}
        {% endif %}
        <td class='number-cell' colspan='3'>${{ total }}/year</td>
      </tr>
    </tfoot>
    <tbody>
      {% for post in posts reversed %}
      <tr>
        <td>{{ post.title }}</td>
        <td>
          <a href='{{ post.meta.service-url }}'>{{ post.meta.service }}</a>
        </td>
        <td class='number-cell'>${{ post.meta.cost }}/{{ post.meta.cost-frequency }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  {{ body }}
</main>
{% endcapture %}

{% include 'layouts/default' %}
