//
// primary
//

.homepage__feature-section
  &--primary
    padding-top: 0
    padding-bottom: 0

  &--secondary
    +max-width($mini-tablet)
      display: none

  .feature--primary
    +min-width($tablet)
      padding-top: rem(60)
      padding-bottom: rem(60)

    +min-width($laptop)
      padding-top: rem(80)
      padding-bottom: rem(80)


//
// secondary
//

.homepage__feature-section
  .feature--secondary
    margin-top: rem(30)

    &:first-child
      margin-top: 0

    +min-width($tablet)
      +span-columns(4)
      margin-top: 0

.homepage__feature-section--wide
  .feature--secondary
    +min-width($tablet)
      +span-columns(6)

//
// image
//

.feature__background
  display: block
  height: 160px

  +min-width($mini-tablet)
    height: 260px


.feature
  position: relative

  +min-width($tablet)
    .feature__background
      position: absolute
      top: 0
      width: 50%
      height: 100%

    &--odd
      .feature__background
        left: 50%

    &--even
      .feature__background
        left: 0


//
// copy
//

.feature--primary
  .feature__copy
    padding: rem(30) 0

    +min-width($tablet)
      padding-top: 0
      padding-bottom: 0

.feature--odd
  .feature__copy
    +min-width($tablet)
      +span-columns(5)

+direction-context(right-to-left)
  .feature--even
    .feature__copy
      +min-width($tablet)
        +span-columns(5)


//
// border
//

.feature--primary
  position: relative

  +min-width($tablet)
    &:before
      position: absolute
      top: 0
      left: 50%
      height: 100%
      z-index: 1

      content: ''
