//
// header
//

.hero__header
  +min-height($laptop)
    padding-top: em(30)

//
// tagline
//

.hero__title p
  max-width: em(430)
  margin: em(10) auto 0

//
// newsletter
//

.hero
  .newsletter
    margin-top: em(30)

    +min-width($tablet)
      margin-top: em(40)



//
// alert
//

.hero
  .hero__alert
    margin-top: em(20)

    +min-width($mini-tablet)
      margin-top: em(30)

    +min-width($tablet)
      margin-top: em(40)


//
// screenshot
//

.hero__screenshot
  height: 0

.hero
  .hero__screenshot
    margin-top: em(30)

    +min-width($tablet)
      margin-top: em(80)
