//
// hero
//

.hero
  margin-top: em(60)
  margin-bottom: em(60)

  +min-width($mini-tablet)
    margin-top: em(92)
    margin-bottom: em(92)

  +min-height(721px)
    margin-top: em(144)
    margin-bottom: em(144)

//
// tagline
//

.hero__title p
  max-width: em(430)
  margin: em(10) auto 0

//
// newsletter
//

.hero
  .newsletter
    margin: em(40) 0


//
// nudge
//

.hero
  position: relative

  .hero__nudge
    position: absolute
    bottom: em(-90)
    left: 50%
    transform: translateX(-50%)
