//
// section
//

.homepage__section
  padding: em(30) 0
  overflow: hidden

  +min-width($tablet)
    padding-top: rem(60)
    padding-bottom: rem(60)

  +min-width($laptop)
    padding-top: rem(80)
    padding-bottom: rem(80)


//
// next
//

.homepage__next-section
  +min-width($tablet)
    padding-top: rem(30)
    padding-bottom: rem(30)

  +min-width($laptop)
    padding-top: rem(30)
    padding-bottom: rem(30)

  .icon
    margin-left: em(4)

//
// message
//

.homepage__outro
  .homepage__message
    margin: em(20) 0 em(30)
