//
// body
//

.newsletter
  p
    margin-bottom: em(32)


//
// input
//

.newsletter
  .newsletter__input
    min-width: em(280)
    margin: 0 em(4) em(16)

    +min-width($tablet)
      margin-bottom: 0


//
// input
//

.newsletter
  .newsletter__button
    margin: 0 em(4)
