//
// body
//

.newsletter
  padding-top: rem(30)
  padding-bottom: rem(30)

  .newsletter__title
    margin-bottom: em(16)

  .newsletter__note
    margin-top: em(20)

  &.is-success
    .newsletter__form,
    .newsletter__note
      display: none

  .page__main &
    @extend .grid-container--narrow
    margin-top: rem(30)
    margin-bottom: rem(30)

    +max-width($narrow-container-width)
      margin-left: 0
      margin-right: 0


//
// alert
//

.newsletter
  > .alert
    margin-bottom: em(30)


//
// input
//

.newsletter
  .newsletter__input
    min-width: em(280)
    margin: 0 em(4) em(16)

    +min-width($tablet)
      margin-bottom: 0


//
// input
//

.newsletter
  .newsletter__button
    margin: 0 em(4)
