//
// section
//

.homepage__feature-section--secondary
  border-top: solid 1px $lighter-grey


//
// feature
//

.feature--primary
  +min-width($tablet)
    border-top: solid 1px $lighter-grey

    &:before
      border-right: solid 1px $lighter-grey


//
// title
//

.feature__title
  font-family: $header-font-family
  font-size: em(18)

  +min-width($mini-tablet)
    font-size: em(20)

  +min-width($tablet)
    font-size: em(24)

.feature__copy p
  +min-width($mini-tablet)
    font-size: em(18)

  +min-width($tablet)
    font-size: em(20)


//
// image
//

.feature__background
  background-repeat: no-repeat
  background-size: 638px 200px
  border-top: solid 1px $lighter-grey
  border-bottom: solid 1px $lighter-grey

  +min-width($mini-tablet)
    background-size: 958px 300px

  +min-width($tablet)
    background-size: 1276px 400px
    border: none

  .feature--odd &
    background-position: left center

  .feature--even &
    background-position: right center


//
// more
//

.feature__more
  .theme--yellow &
    color: $yellow

  .theme--green &
    color: $green

  .theme--purple &
    color: $purple

  .theme--blue &
    color: $blue

  &:hover
    color: $darkest-grey

  .theme--black &:hover
    color: $white
