//
// hero
//

.hero
  text-align: center

  &.theme--light-blue
    @extend .background--light-blue
    color: $light-blue--dark

  &.theme--yellow
    background-color: $yellow
    color: $yellow--dark

  &.theme--green
    background-color: $green
    color: $green--dark

  &.theme--purple
    background-color: $purple
    color: $purple--light


//
// title
//

.hero__title h2
  font-size: em(36)
  line-height: 1.25em
  font-weight: 700

  +min-width($tablet)
    font-size: em(56)
    font-weight: 500

  color: $white


//
// tagline
//

.hero__title p
  font-size: em(16)
  color: inherit

  +min-width($mini-tablet)
    font-size: em(18)

  +min-width($tablet)
    font-size: em(21)


//
// newsletter
//

.hero
  .newsletter
    +min-width($tablet)
      font-size: 112.5%


//
// screenshot
//

.hero__screenshot
  background-repeat: no-repeat
  background-size: contain
  background-position: center bottom
