//
// section
//

.homepage__section
  &.theme--black
    background-color: $darkest-grey
    color: $white


//
// text
//

.homepage__text-section
  text-align: center

  +min-width($mini-tablet)
    font-size: em(21)

  +min-width($tablet)
    font-size: em(32)


//
// next
//

.homepage__next-section
  p
    margin-top: em(2)
    line-height: 1em

  .link
    color: $white

  .icon
    font-size: em(12)

  &.theme--yellow
    background-color: $yellow

    .icon
      color: $purple

  &.theme--green
    background-color: $green

    .icon
      color: $yellow

  &.theme--purple
    background-color: $purple

    .icon
      color: $yellow

  &.theme--light-blue
    background-color: $light-blue

    .icon
      color: $purple

  &.theme--blue
    background-color: $blue

    .icon
      color: $green


//
// outro
//

.homepage__outro
  text-align: center

  +min-width($tablet)
    font-size: 112.5%


//
// message
//

.homepage__message
  font-size: em(21)

  +min-width($mini-tablet)
    font-size: em(24)


//
// title
//

.section__title
  font: $header-font
  font-size: em(18)

  +min-width($mini-tablet)
    font-size: em(20)

  +min-width($tablet)
    font-size: em(24)
