//
// hero
//

.hero
  text-align: center


//
// title
//

.hero__title h2
  font-size: em(36)
  line-height: 1.25em
  font-weight: 700

  +min-width($tablet)
    font-size: em(56)
    font-weight: 500


//
// tagline
//

.hero__title p
  font-size: em(16)

  +min-width($tablet)
    font-size: em(21)


//
// newsletter
//

.hero
  .newsletter
    +min-width($tablet)
      font-size: 112.5%


//
// nudge
//

.hero__nudge
  color: $purple--light
  transition: 1s opacity

  &:hover
    color: $black

  .is-scrolled &
    opacity: 0
