@import '_mixins'
@import '_normalize'

// variables

$system-font: "Helvetica Neue", Helvetica, sans-serif
$base-font: 400 100%/1.65 "jaf-facitweb", $system-font
$header-font: 700 150%/1.25 "effra", $system-font
$copy-font: 400 100%/1.65 "ff-tisa-web-pro", $system-font
$button-font: 400 .875rem/1.65 "jaf-facitweb", $system-font

$white: #fff
$black: #222
$grey: #999
$light-grey: #ccc
$lighter-grey: #eee
$lightest-grey: #f2f2f2
$orange: #FEAA3A
$blue: #3498DB
$green: #6BBD2E

$smaller: 12
$small: 14
$medium: 16
$large: 18
$larger: 20
$largest: 24

$tablet-portrait: em(481)

// reset

@media screen and (max-device-width: 480px)
  html
    -webkit-text-size-adjust: 100%
    -ms-text-size-adjust: 100%

*,
*:before,
*:after
  +prefix-property(box-sizing, border-box)

html.wf-loading *
  color: transparent !important

ul
  padding: 0

li
  list-style-type: none

input[type='text'],
input[type='email']
  +prefix-property(border-radius, 0)
  -webkit-appearance: none

// base

body
  font: $base-font
  text-rendering: optimizeLegibility
  color: $black

img
  max-width: 100%

a
  color: $black
  text-decoration: none

  &:hover
    color: $green

  img
    vertical-align: top

::-webkit-input-placeholder
  color: $grey

\:-moz-placeholder
  color: $grey

::-moz-placeholder
  color: $grey

\:-ms-input-placeholder
  color: $grey

::selection
  background-color: $black
  color: $white

::-moz-selection
  background-color: $black
  color: $white

// components

.wrapper
  padding: 0 em(10)

.text-input
  padding: em(4) em(8)

  font-size: rem($medium)
  line-height: em(22)

  outline: none
  border: none
  border: solid 1px $light-grey
  color: $black

.link
  color: $black
  text-decoration: none

  &:hover
    color: $green

.button
  padding: em(4, $small) em(14, $small) em(5, $small)

  font: $button-font

  +prefix-property(border-radius, em(5, $small))
  outline: none
  border: none
  background-color: $green
  color: $white

  &:hover
    background-color: $black !important

.center
  text-align: center

// header image

.header-image-list
  position: relative

  height: em(274)
  margin: 0

  background-color: $lightest-grey

.header-image-item
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100%

  background-repeat: no-repeat
  background-position: center
  background-size: auto 100%

  opacity: 0
  transition: opacity 1s

  &.is-selected
    opacity: 1

// header

.main-header
  margin: em(30) 0
  text-align: center

  +min-width($tablet-portrait)
    margin-top: em(50)
    margin-bottom: em(50)

    font-size: 112.5%

.logo
  margin: 0

  font: $header-font
  font-size: em(48)

.tagline
  margin-top: 0

  font: $base-font
  font-size: em($small)

  color: $grey

// nav

.main-nav
  margin-top: em(24)

.nav-list
  text-align: center

  .nav-item
    margin-left: em(12)

    &:first-child
      margin-left: 0

.nav-item
  display: inline-block

.nav-link
  font: $header-font
  font-size: rem($large)
  text-decoration: none

// article

.article
  margin: 0 auto em(60)
  max-width: 38em

  +min-width($tablet-portrait)
    font-size: 112.5%

+min-width($tablet-portrait)
  .journal-article,
  .changelog-article
    margin-bottom: em(120, $medium)

.article-title
  font: $header-font
  text-align: center

  +min-width($tablet-portrait)
    margin-bottom: em(32, $largest)

.article-copy
  font: $copy-font

  img
    display: block
    margin-left: auto
    margin-right: auto

  p
    word-wrap: break-word

  a
    border-bottom: solid 2px $green
    color: $black

    &:hover
      border-bottom-color: $black !important

  h4
    margin-bottom: 0

    font: $header-font

    & + p
      margin-top: 0

    a
      border-bottom: none

  blockquote,
  code
    font-size: em(14)

    background-color: $lighter-grey

  blockquote
    margin-left: 0
    margin-right: 0
    padding: 1em 2em

  ul, ol
    padding-left: 1.825em

  li
    line-height: 2em

  ul > li
    list-style-type: disc

  ol > li
    list-style-type: decimal

// changelog

.changelog-section
  margin-bottom: em(30)

  ul
    padding-left: 0

    > li
      position: relative
      padding-left: em(33)
      margin: em(10) 0

      line-height: 1.5em
      list-style-type: none

      &:before
        position: absolute
        left: em(6)
        top: 0.625em

        display: block
        width: em(6)
        height: em(6)

        border-radius: em(3)
        background-color: $black

        content: ''

h4.changelog-title
  font-size: rem($large)
  line-height: em(21, $large)

  &:before
    float: left
    display: block
    width: em(21, $large)
    height: em(21, $large)
    margin-right: em(12, $large)

    content: ''

.new-changelog-title:before
  background-color: $green

.improved-changelog-title:before
  background-color: $blue

.fixed-changelog-title:before
  background-color: $orange

// footer

.main-footer
  margin: em(50, $small) 0

  font-size: em($small)
  color: $grey
  text-align: center

  +min-width($tablet-portrait)
    margin-top: em(60, $small)

// form

.form
  margin: em(20) 0

  text-align: center

  .text-input
    width: 100%

  .button
    margin-top: em(20)

  +min-width($tablet-portrait)
    margin-top: em(70)

    .text-input
      display: inline-block
      width: em(280)
      margin-right: em(10)
      vertical-align: bottom

    .button
      margin-top: 0

      vertical-align: bottom

// table

table
  max-width: 38em
  width: 100%
  margin: 0 auto

th
  padding-bottom: em(4, 12)

  font-size: em(12)
  font-weight: normal
  color: $grey
  text-align: left
  text-transform: lowercase

tbody
  td
    padding-bottom: em(6, 14)

    font-size: em(14)

  tr:last-child td
    padding-bottom: em(16, 14)

tfoot
  border-top: solid 4px $light-grey

  td
    padding-top: em(13)

    font-weight: 500

.number-cell
  text-align: right

.service-cell
  display: none

  +min-width($tablet-portrait)
    display: block

// expenses

.graph-section
  max-width: em(800)
  margin: em(30) auto
