<!DOCTYPE html>
<html>
  {% include 'includes/head' %}

  <body class='page'>
    <!-- Google Tag Manager -->
    <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-5N2F8T"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-5N2F8T');</script>
    <!-- End Google Tag Manager -->

    {{ content }}

    <footer class='page__footer'>
      {% assign nav = 'bottom' %}
      {% include 'includes/nav' %}
      <p class='page__love'>Made with <span class='ss-icon' style='color: #c00'>love</span> in Brooklyn</p>
    </footer>

    <nav id='mobile-nav' class='is-hidden mobile-nav'>
      <h1 class='mobile-nav__logo'>
        <a class='logo__link' href='/'>{{ site.title }}</a>
      </h1>

      <a id='mobile-nav-close-button' class='ss-icon mobile-nav__close-button' href='#'>Close</a>

      <ul class='mobile-nav__list'>
        {% for page in site.pages %}
          {% unless page.home? %}
            {% if page.meta.nav != 'false' %}
            <li class='theme--{{ page.meta.theme }} mobile-nav__item'>
              <a class='mobile-nav__link' href='{{ page.url }}'>{{ page.title }}</a>
            </li>
            {% endif %}
          {% endunless %}
        {% endfor %}
        <li class='mobile-nav__item'>
          <a class='mobile-nav__button button' href='{{ site.meta.signup }}'>Sign up</a>
        </li>
      </ul>
    </nav>

    {{ foot }}

    <script>
    $(function() {
      $('#mobile-nav-button,#mobile-nav-close-button').click(function(e) {
        e.preventDefault();

        $('#mobile-nav').toggleClass('is-hidden')
      });
    });
  </script>
  </body>
</html>
